<div class="container">

    <div class="row">
        <h3 class="center blue-grey darken-2 white-text">Commandes récentes</h3>
        <table class="centered highlight responsive-table">
            <thead>
              <tr>
                  <th>Numéro commande</th>
                  <th>Magasins</th>
                  <th>Total articles</th>
                  <th>Montant global</th>
              </tr>
            </thead>
    
            <tbody>
              <tr>
                <td>CM-001</td>
                <td>CECADO</td>
                <td>10</td>
                <td>$0.87</td>
              </tr>
            </tbody>
        </table>
    </div>
</div>

