<div class="container">
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="card-panel">
                <div class="row">
                    <div class="col s12 m6 l6 grey darken-1 center">
                        <i class="material-icons" style="font-size: 300px; color: white;">person</i>
                    </div>
                    <div class="col s12 m6 l6">
                        <div class="row">
                            <div class="col s6 m6">
                                Nom :
                            </div>
                            <div class="col s6 m6"></div>
                        </div>
                        <div class="row">
                            <div class="col s6 m6">
                                Prénom :
                            </div>
                            <div class="col s6 m6"></div>
                        </div>
                        <div class="row">
                            <div class="col s6 m6">
                                Adresse mail :
                            </div>
                            <div class="col s6 m6"></div>
                        </div>
                        <div class="row">
                            <div class="col s6 m6">
                                Numéro de téléphone :
                            </div>
                            <div class="col s6 m6"></div>
                        </div>
                        <div class="row">
                            <div class="col s6 m6">
                                Commune :
                            </div>
                            <div class="col s6 m6"></div>
                        </div>
                        <div class="row">
                            <div class="col s6 m6">
                                Quartier :
                            </div>
                            <div class="col s6 m6"></div>
                        </div>
                        <div class="row">
                            <div class="col s6 m6">
                                Adresse complète :
                            </div>
                            <div class="col s6 m6"></div>
                        </div>
                    </div>
                </div>
                <div class="center">
                    <button class="btn-large deep-orange accent-2">Modifier</button>
                </div>
                
            </div>
        </div>
    </div>
</div>
