<div class="container">
    <div class="row">
        <div class="col s12 m4 l4">
            <div class="card-panel teal hoverable center" style="height: 100% !important;">
                <span class="white-text">
                  <b class="title-panel">Total commandes</b><br>
                  <i class="material-icons">shopping_basket</i><br>
                  <b class="total">2</b>
                </span>
            </div>
        </div>
        <div class="col s12 m4 l4">
            <div class="card-panel amber accent-1 hoverable center" style="height: 100% !important;">
                <span class="black-text">
                  <b class="title-panel">Factures</b><br>
                  <i class="material-icons">payments</i><br>
                  <b class="total">2</b>
                </span>
            </div>
        </div>
        <div class="col s12 m4 l4">
            <div class="card-panel blue-grey darken-3 hoverable center" style="height: 100% !important;">
                <span class="white-text">
                  <b class="title-panel">Livraisons en cours</b><br>
                  <i class="material-icons">local_shipping</i><br>
                  <b class="total">2</b>
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <h3 class="center blue-grey darken-2 white-text">Commandes récentes</h3>
        <table class="centered highlight responsive-table">
            <thead>
              <tr>
                  <th>Numéro commande</th>
                  <th>Magasins</th>
                  <th>Total articles</th>
                  <th>Montant global</th>
              </tr>
            </thead>
    
            <tbody>
              <tr>
                <td>CM-001</td>
                <td>CECADO</td>
                <td>10</td>
                <td>$0.87</td>
              </tr>
            </tbody>
        </table>
    </div>
</div>
